.app {
    &__container {
        padding: 20px;
    }

    &__question {
        font-size: 25px;
        font-weight: bold;
        margin: 10px 0px;
    }
    
    &__selectDate {
        margin: 10px 0px;
        display: flex;
    }
}